# TEJ REST API 使用教學

利用 https 的方式存取 TEJ 資料庫，直接在瀏覽器輸入 url 查詢即可達成，不需使用程式語言。\
以下為方便說明，使用 Python 的簡易爬蟲進行教學。

### 本章節將會介紹以下重點

1. 資料庫讀取
2. 資料篩選
3. 多股資料存取

更多詳細說明請至：https://api.tej.com.tw/document_rest.html

# 載入套件

In [1]:
# 在瀏覽器上使用 TEJ REST API 是不需要這些套件的喔！
import tejapi
import pandas as pd
import numpy as np

# 爬蟲套件，模擬瀏覽器環境
import requests
import json

import warnings
warnings.filterwarnings('ignore')

# 1. 資料庫讀取

### [上市(櫃)未調整股價(日)] (https://api.tej.com.tw/columns.html?idCode=TRAIL/TAPRCD)

In [2]:
api_key = 'your key'
tejapi.ApiConfig.api_key = api_key
tejapi.ApiConfig.ignoretz = True

在瀏覽器中輸入的 url : https://api.tej.com.tw/api/datatables/TRAIL/TAPRCD.json?api_key=(您的api_key)

In [ ]:
url = 'https://api.tej.com.tw/api/datatables/TRAIL/TAPRCD.json?api_key='+api_key

rq = requests.get(url)
rq.content

In [4]:
data = json.loads(rq.content)['datatable']['data']
columns = pd.DataFrame(json.loads(rq.content)['datatable']['columns'])['cname'].to_list()  # 篩選中文欄位
stock_price = pd.DataFrame(data,columns=columns)
stock_price

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),報酬率％,週轉率％,...,現金股利率,股價漲跌(元),高低價差%,次日開盤參考價,次日漲停價,次日跌停價,注意股票(A),處置股票(D),全額交割(Y),市場別
0,0050,2023-01-03T00:00:00Z,109.60,110.90,108.45,110.75,15272.877,1673263.794,0.4991,0.6604,...,3.8826,0.55,2.2232,110.75,121.80,99.70,,,,TSE
1,0050,2023-01-04T00:00:00Z,110.30,110.80,110.10,110.50,14211.742,1569704.151,-0.2257,0.6160,...,3.8914,-0.25,0.6321,110.50,121.55,99.45,,,,TSE
2,0050,2023-01-05T00:00:00Z,111.25,111.70,110.95,111.30,12395.862,1379134.974,0.7240,0.5369,...,3.8634,0.80,0.6787,111.30,122.40,100.20,,,,TSE
3,0050,2023-01-06T00:00:00Z,111.20,112.20,111.15,111.80,11826.560,1321964.557,0.4492,0.5101,...,3.8462,0.50,0.9434,111.80,122.95,100.65,,,,TSE
4,0050,2023-01-09T00:00:00Z,114.00,115.80,113.90,115.80,15649.173,1796709.538,3.5778,0.6748,...,3.7133,4.00,1.6995,115.80,127.35,104.25,,,,TSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,00656R,2023-11-01T00:00:00Z,9.03,9.08,8.96,9.03,968.000,8732.260,-1.6340,6.1046,...,NaN,-0.15,1.3072,9.03,NaN,NaN,,,,TSE
9996,00656R,2023-11-02T00:00:00Z,8.99,9.03,8.97,9.03,1433.000,12902.120,0.0000,9.0370,...,NaN,0.00,0.6645,9.03,NaN,NaN,,,,TSE
9997,00656R,2023-11-03T00:00:00Z,9.01,9.04,8.95,8.98,264.862,2381.132,-0.5537,1.6649,...,NaN,-0.05,0.9967,8.98,NaN,NaN,,,,TSE
9998,00656R,2023-11-06T00:00:00Z,8.90,8.95,8.88,8.92,344.084,3062.669,-0.6682,2.1694,...,NaN,-0.06,0.7795,8.92,NaN,NaN,,,,TSE
9999,00656R,2023-11-07T00:00:00Z,8.98,8.98,8.97,8.97,108.000,969.790,0.5605,0.6811,...,NaN,0.05,0.1121,8.97,NaN,NaN,,,,TSE

# 2. 資料篩選

在瀏覽器中輸入的 url ： https://api.tej.com.tw/api/datatables/TRAIL/TAPRCD.json?&coid=2330,Y9999&api_key=(您的api_key)

In [5]:
# 篩選股票代號
db_code = 'TRAIL/TAPRCD'
coid = '2330,Y9999'

url = 'https://api.tej.com.tw/api/datatables/'+ db_code +'.json?&coid='+coid+'&api_key='+api_key
rq = requests.get(url)

data = json.loads(rq.content)['datatable']['data']
columns = pd.DataFrame(json.loads(rq.content)['datatable']['columns'])['cname'].to_list()  # 篩選中文欄位
coid_data = pd.DataFrame(data,columns=columns)
coid_data

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),報酬率％,週轉率％,...,現金股利率,股價漲跌(元),高低價差%,次日開盤參考價,次日漲停價,次日跌停價,注意股票(A),處置股票(D),全額交割(Y),市場別
0,2330,2023-01-03T00:00:00Z,446.00,453.50,443.00,453.00,15311.364,6.871974e+06,1.0033,0.0590,...,2.4284,4.50,2.3411,453.0,498.0,408.0,,,,TSE
1,2330,2023-01-04T00:00:00Z,449.50,455.00,448.50,449.50,20626.874,9.310050e+06,-0.7726,0.0795,...,2.4472,-3.50,1.4349,449.5,494.0,405.0,,,,TSE
2,2330,2023-01-05T00:00:00Z,459.00,459.50,455.00,458.50,23972.099,1.097262e+07,2.0022,0.0924,...,2.3993,9.00,1.0011,458.5,504.0,413.0,,,,TSE
3,2330,2023-01-06T00:00:00Z,455.00,459.50,455.00,458.50,21313.593,9.745143e+06,0.0000,0.0822,...,2.3991,0.00,0.9815,458.5,504.0,413.0,,,,TSE
4,2330,2023-01-09T00:00:00Z,468.00,481.00,467.50,481.00,49186.355,2.335238e+07,4.9073,0.1897,...,2.2869,22.50,2.9444,481.0,529.0,433.0,,,,TSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,Y9999,2023-12-25T00:00:00Z,17596.27,17663.35,17595.27,17604.84,5771072.000,2.427797e+08,0.0467,0.4032,...,3.3481,8.21,0.3869,NaN,NaN,NaN,,,,TSE
474,Y9999,2023-12-26T00:00:00Z,17619.09,17751.73,17619.09,17751.73,5536355.000,2.297031e+08,0.8344,0.3858,...,3.3204,146.89,0.7534,NaN,NaN,NaN,,,,TSE
475,Y9999,2023-12-27T00:00:00Z,17766.73,17897.16,17766.73,17891.50,6800409.000,2.999243e+08,0.7874,0.4495,...,3.2946,139.77,0.7347,NaN,NaN,NaN,,,,TSE
476,Y9999,2023-12-28T00:00:00Z,17900.76,17928.14,17841.76,17910.37,6580845.000,2.898405e+08,0.1055,0.4386,...,3.2906,18.87,0.4828,NaN,NaN,NaN,,,,TSE
477,Y9999,2023-12-29T00:00:00Z,17893.63,17945.70,17864.23,17930.81,5813967.000,2.721691e+08,0.1141,0.3825,...,3.2867,20.44,0.4549,NaN,NaN,NaN,,,,TSE

在瀏覽器中輸入的 url ： https://api.tej.com.tw/api/datatables/TRAIL/TAPRCD.json?&coid=(篩選的股票代碼)&opts.columns=mdate,open_d&api_key=(您的api_key)

In [6]:
# 篩選欄位
db_code = 'TRAIL/TAPRCD'
columns = 'mdate,open_d'
url = 'https://api.tej.com.tw/api/datatables/'+ db_code +'.json?'+'&opts.columns='+columns+'&api_key='+api_key
rq = requests.get(url)

data = json.loads(rq.content)['datatable']['data']
columns = pd.DataFrame(json.loads(rq.content)['datatable']['columns'])['cname'].to_list()  # 篩選中文欄位
column_data = pd.DataFrame(data,columns=columns)
column_data

                       年月日  開盤價(元)
0     2023-01-03T00:00:00Z   51.25
1     2023-01-03T00:00:00Z   78.60
2     2023-01-03T00:00:00Z   15.16
3     2023-01-03T00:00:00Z   91.50
4     2023-01-03T00:00:00Z    5.96
...                    ...     ...
9995  2023-01-06T00:00:00Z   15.50
9996  2023-01-06T00:00:00Z  137.00
9997  2023-01-06T00:00:00Z   57.30
9998  2023-01-06T00:00:00Z   44.20
9999  2023-01-06T00:00:00Z   19.85

[10000 rows x 2 columns]

# 3. 多股資料讀取
在瀏覽器中輸入的 url :https://api.tej.com.tw/api/datatables/TRAIL/TAPRCD.json?&api_key=(篩選的api_key)

In [7]:
url = 'https://api.tej.com.tw/api/datatables/TRAIL/TAPRCD.json?&api_key='+api_key

rq = requests.get(url)
data = json.loads(rq.content)['datatable']['data']
columns = pd.DataFrame(json.loads(rq.content)['datatable']['columns'])['cname'].to_list()
stock_price = pd.DataFrame(data,columns=columns)
stock_price

,證券代碼,年月日,開盤價(元),最高價(元),最低價(元),收盤價(元),成交量(千股),成交值(千元),報酬率％,週轉率％,...,現金股利率,股價漲跌(元),高低價差%,次日開盤參考價,次日漲停價,次日跌停價,注意股票(A),處置股票(D),全額交割(Y),市場別
0,0050,2023-01-03T00:00:00Z,109.60,110.90,108.45,110.75,15272.877,1673263.794,0.4991,0.6604,...,3.8826,0.55,2.2232,110.75,121.80,99.70,,,,TSE
1,0050,2023-01-04T00:00:00Z,110.30,110.80,110.10,110.50,14211.742,1569704.151,-0.2257,0.6160,...,3.8914,-0.25,0.6321,110.50,121.55,99.45,,,,TSE
2,0050,2023-01-05T00:00:00Z,111.25,111.70,110.95,111.30,12395.862,1379134.974,0.7240,0.5369,...,3.8634,0.80,0.6787,111.30,122.40,100.20,,,,TSE
3,0050,2023-01-06T00:00:00Z,111.20,112.20,111.15,111.80,11826.560,1321964.557,0.4492,0.5101,...,3.8462,0.50,0.9434,111.80,122.95,100.65,,,,TSE
4,0050,2023-01-09T00:00:00Z,114.00,115.80,113.90,115.80,15649.173,1796709.538,3.5778,0.6748,...,3.7133,4.00,1.6995,115.80,127.35,104.25,,,,TSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,00656R,2023-11-01T00:00:00Z,9.03,9.08,8.96,9.03,968.000,8732.260,-1.6340,6.1046,...,NaN,-0.15,1.3072,9.03,NaN,NaN,,,,TSE
9996,00656R,2023-11-02T00:00:00Z,8.99,9.03,8.97,9.03,1433.000,12902.120,0.0000,9.0370,...,NaN,0.00,0.6645,9.03,NaN,NaN,,,,TSE
9997,00656R,2023-11-03T00:00:00Z,9.01,9.04,8.95,8.98,264.862,2381.132,-0.5537,1.6649,...,NaN,-0.05,0.9967,8.98,NaN,NaN,,,,TSE
9998,00656R,2023-11-06T00:00:00Z,8.90,8.95,8.88,8.92,344.084,3062.669,-0.6682,2.1694,...,NaN,-0.06,0.7795,8.92,NaN,NaN,,,,TSE
9999,00656R,2023-11-07T00:00:00Z,8.98,8.98,8.97,8.97,108.000,969.790,0.5605,0.6811,...,NaN,0.05,0.1121,8.97,NaN,NaN,,,,TSE

In [8]:
rq.json()['meta']['next_cursor_id']

'nCndyrnRcz'

在瀏覽器中輸入的 url :
https://api.tej.com.tw/api/datatables/TWN/APRCD.json?&coid=(篩選的股票代碼)&opts.columns=(篩選的資料欄位)&opts.cursor_id=(獨一無二的cursor_id)&mdate.gte=2018-01-01&mdate.lte=2018-02-01&api_key=(篩選的api_key)

In [9]:
# 利用 python 迴圈的方式重複讀取 next_cursor_id，達成一鍵存取 >10000筆的資料

def tej_get_data(db_code,api_key,coid=None,columns=None):
    
    common = 'https://api.tej.com.tw/api/datatables/'+ db_code +'.json?'
    
    if (coid==None) & (columns==None):
        tej_url = common+'&api_key='+api_key
    elif (coid!=None) & (columns==None):
        tej_url = common+'&api_key='+api_key+'&coid='+coid
    elif (coid==None) & (columns!=None):
        tej_url = common+'&api_key='+api_key+'&opts.columns='+columns
    else:
        tej_url = common+'&api_key='+api_key+'&coid='+coid+'&opts.columns='+columns
    #print('get url:'+tej_url)
    rq = requests.get(tej_url)
    id_ = rq.json()['meta']['next_cursor_id']
    data = rq.json()['datatable']['data']
    columns = pd.DataFrame(rq.json()['datatable']['columns'])['cname'].to_list()
    stock_price = pd.DataFrame(data,columns=columns)
    #print('get next_cursor_id:'+id_)
    while id_ != None:
        urls = tej_url+'&opts.cursor_id='+id_
        #print('get url:'+urls)
        rqs = requests.get(urls)
        id_ = rqs.json()['meta']['next_cursor_id']
        data = rqs.json()['datatable']['data']
        columns = pd.DataFrame(rqs.json()['datatable']['columns'])['cname'].to_list()
        temp = pd.DataFrame(data,columns=columns)
        stock_price = stock_price.append(temp).reset_index(drop=True)
        #print('get next_cursor_id:'+id_)
    return stock_price

#### 假設我們要查找這麼多檔股票，資料超過10000筆限制

In [22]:
coid = ['1725', '1726', '1727', '1730', '1731', '1732', '1733', '1734', '1735', '1736', \
        '1752', '1760', '1762', '1773', '1776', '1783', '1786', '1789', '1795', '3164', \
        '3705','3708', '4104', '4106', '4108', '4119', '4133', '4142', '4155', '4164', \
        '4720', '4722', '4737','4739', '4746', '4755', '4764', '4766', '4770', '6491', '6782', '6796']
coid = ','.join(coid)
coid

'1725,1726,1727,1730,1731,1732,1733,1734,1735,1736,1752,1760,1762,1773,1776,1783,1786,1789,1795,3164,3705,3708,4104,4106,4108,4119,4133,4142,4155,4164,4720,4722,4737,4739,4746,4755,4764,4766,4770,6491,6782,6796'

從這邊可以看到，利用 __tej_get_data__ 函數可以讓我們的單次資料存取數超過10000筆

In [23]:
data = tej_get_data('TRAIL/TAPRCD', 'Your Key', coid = coid ,columns = 'mdate,open_d,high_d,low_d,close_d,volume')
data

                        年月日  開盤價(元)  最高價(元)  最低價(元)  收盤價(元)   成交量(千股)
0      2023-01-03T00:00:00Z   69.50    70.1   68.10   69.10   624.753
1      2023-01-03T00:00:00Z   66.00    66.0   63.80   64.10  1262.094
2      2023-01-03T00:00:00Z   54.20    54.2   52.10   53.60   609.163
3      2023-01-03T00:00:00Z   43.60    43.8   43.10   43.65   110.376
4      2023-01-03T00:00:00Z   13.70    13.9   13.70   13.75    83.242
...                     ...     ...     ...     ...     ...       ...
10033  2023-12-29T00:00:00Z  265.00   273.5  263.50  272.00  5926.280
10034  2023-12-29T00:00:00Z   88.20    88.4   87.90   88.40    97.027
10035  2023-12-29T00:00:00Z   21.65    21.8   21.65   21.70   169.680
10036  2023-12-29T00:00:00Z   25.25    25.3   25.05   25.10   250.323
10037  2023-12-29T00:00:00Z  397.50   398.0  393.00  396.50   339.383

[10038 rows x 6 columns]

在瀏覽器中輸入的 url：
https://api.tej.com.tw/api/datatables/TRAIL/TAPRCD.json?&coid=Y9999,2330,2454,2609&opts.columns=mdate,open_d,high_d,low_d,close_d,volume&mdate.gte=2023-01-01&mdate.lte=2023-12-31&api_key=(篩選的api_key)

In [4]:
coid = 'Y9999,2330,2454,2609'
columns = 'mdate,open_d,high_d,low_d,close_d,volume'
time = 'yyyyMMdd'
mdate_gte = '2023-01-01'
mdate_lte = '2023-12-31'

url = 'https://api.tej.com.tw/api/datatables/TRAIL/TAPRCD.json?&coid=' + coid + '&opts.columns='+ columns + '&mdate.gte=' \
+ mdate_gte + '&mdate.lte=' + mdate_lte + '&api_key=' + api_key

rq = requests.get(url)
data = json.loads(rq.content)['datatable']['data']
columns = pd.DataFrame(json.loads(rq.content)['datatable']['columns'])['cname'].to_list()
stock_price = pd.DataFrame(data,columns=columns)
stock_price

                      年月日    開盤價(元)    最高價(元)    最低價(元)    收盤價(元)      成交量(千股)
0    2023-01-03T00:00:00Z    446.00    453.50    443.00    453.00    15311.364
1    2023-01-03T00:00:00Z    623.00    645.00    621.00    644.00     4509.288
2    2023-01-03T00:00:00Z     65.90     66.10     64.50     64.60    34641.231
3    2023-01-03T00:00:00Z  14108.16  14237.94  14001.97  14224.12  4427323.000
4    2023-01-04T00:00:00Z  14186.95  14257.45  14177.97  14199.13  4516111.000
..                    ...       ...       ...       ...       ...          ...
951  2023-12-28T00:00:00Z    592.00    593.00    589.00    593.00    27152.352
952  2023-12-29T00:00:00Z    589.00    593.00    589.00    593.00    20155.619
953  2023-12-29T00:00:00Z   1025.00   1030.00   1010.00   1015.00     5190.939
954  2023-12-29T00:00:00Z     52.30     52.30     51.20     51.30    40692.780
955  2023-12-29T00:00:00Z  17893.63  17945.70  17864.23  17930.81  5813967.000

[956 rows x 6 columns]

In [5]:
data = tejapi.get('TRAIL/TAPRCD',
                  coid='Y9999,2330,2454,2609',
                  mdate={'gt':'2023-01-01','lt':'2023-12-31'},
                  paginate=True,
                  opts = {'columns':['mdate', 'open_d', 'high_d', 'low_d', 'close_d', 'volume']},
                  chinese_column_name = True,
                 )
data

            年月日    開盤價(元)    最高價(元)    最低價(元)    收盤價(元)      成交量(千股)
None
0    2023-01-03    446.00    453.50    443.00    453.00    15311.364
1    2023-01-03    623.00    645.00    621.00    644.00     4509.288
2    2023-01-03     65.90     66.10     64.50     64.60    34641.231
3    2023-01-03  14108.16  14237.94  14001.97  14224.12  4427323.000
4    2023-01-04  14186.95  14257.45  14177.97  14199.13  4516111.000
...         ...       ...       ...       ...       ...          ...
951  2023-12-28    592.00    593.00    589.00    593.00    27152.352
952  2023-12-29    589.00    593.00    589.00    593.00    20155.619
953  2023-12-29   1025.00   1030.00   1010.00   1015.00     5190.939
954  2023-12-29     52.30     52.30     51.20     51.30    40692.780
955  2023-12-29  17893.63  17945.70  17864.23  17930.81  5813967.000

[956 rows x 6 columns]